<main>
  <section>
    <h2>Oops! The page you're looking for doesn't exist.</h2>
    <p>
      It seems you've ventured into uncharted territory. Don't worry, even the
      best explorers get lost sometimes!
    </p>
    <a href="/" class="btn btn-secondary mb-2">Return to Home</a>
  </section>
</main>
